@charset "UTF-8";

.chatMenuimg {
	width : 40px;
	height : 40px;
	position : absolute;
	left : 0px;
}

.chatMenu {
	width : 80px;
	position : relative;
}


.boxunread {
	display : inline-block;
	border-radius : 50%;
/* 	width : 21px;   */
	width : 20px;
	height : 20px;
/* 	height : 21px; */
	color : #fff;
	background-color : #FF1212;
	position : absolute;
/* 	right : 5px; */
/* 	top : 25px; */
	left : 25px;
	font-size : 15px;
	font-weight : border;
	font-family:'notosanskr';
}

.boxunread:empty {
  display: none;
}