@charset "UTF-8";

.pageNum {
	text-align: center;
}

.category {
	display : inline;
	float : right;
}

.market:hover {
	background-color: #42444e;
	color: #fff;
}

.board:hover {
	background-color: #42444e;
	color: #fff;
}

.button {
 	width: 100px;
 	padding: 0;
 	margin: 10px 20px 10px 0;
 	font-weight: 600;
 	text-align: center;
 	line-height: 35px;
 	color: #fff;
  	border-radius: 5px;
 	transition: all 0.2s;		
 	background: #42444e;
}

.button2 {
 	width: 170px;
 	padding: 0;
 	margin: 10px 20px 10px 0;
 	font-weight: 600;
 	text-align: center;
 	line-height: 35px;
 	color: #fff;
  	border-radius: 5px;
 	transition: all 0.2s;		
 	background: #42444e;
}

.tableBar th, .tableBar td{
	text-align: center;
}

.content {
	text-align: center;
}

.report:hover {
	background-color: #42444e;
	color: #fff;
}

/* id="fr" 모든자손 ul li 줄간격 30px, 목록스타일 없앰,  */
/* 	안여백 위아래 5px 왼오른쪽 10px, 밖 아래 여백 2px  */
#fr ul li {
	line-height: 30px;
	list-style-type: none;
	padding: 5px 10px;
	marign-bottom: 2px;
	color: black;
}

/* id="fr" 모든자손 label 너비 110px, 글자크기 13px, 왼쪽으로 어울림 */
#fr label {
	float: left;
}

.menu7 {
	border: 1px solid black;
	width : 200px;
	margin : 0 auto;
}

.menu7:hover {
	background-color: #42444e;
	color: #fff;
}

.menu1 {
	border: 1px solid black;
	width : 200px;
	margin : 0 auto;
}

.menu1:hover {
	background-color: #42444e;
	color: #fff;
}

.menu2 {
	border: 1px solid black;
	width : 200px;
}

.menu2:hover {
	background-color: #42444e;
	color: #fff;
}

.menu3 {
	border: 1px solid black;
	width : 200px;
}

.menu3:hover {
	background-color: #42444e;
	color: #fff;
}

.menu4 {
	border: 1px solid black;
	width : 200px;
}

.menu4:hover {
	background-color: #42444e;
	color: #fff;
}

.menu5 {
	border: 1px solid black;
	width : 200px;
}

.menu5:hover {
	background-color: #42444e;
	color: #fff;
}

.menu6 {
	border: 1px solid black;
	width : 200px;
}

.menu6:hover {
	background-color: #42444e;
	color: #fff;
}

/* id="fr" 모든자손 fieldset중에 마지막 테두리선 none  */
#fr2 fieldset:last-of-type {
	border: none;
}

/* id="fr" 모든자손 ul li 줄간격 30px, 목록스타일 없앰,  */
/* 	안여백 위아래 5px 왼오른쪽 10px, 밖 아래 여백 2px  */
#fr2 ul li {
	line-height: 30px;
	list-style-type: none;
	padding: 5px 10px;
	marign-bottom: 2px;
	color: black;
}

/* id="fr" 모든자손 label 너비 110px, 글자크기 13px, 왼쪽으로 어울림 */
#fr2 label {
	width: 110px;
	font-size: 13px;
	float: left;
}

.submit {
	text-align: center;
}