@charset "UTF-8";

.T{
text-align: center; 	
}

.te{
text-align:left;
}

.t{
background-color:#A4A4A4;	
}

.call{
color:blue;
position:fixed;
padding: 10px;
margin-left:100px; 
}

 .left {
text-align:left;
position:fixed;
padding: 10px;
cursor: pointer;
margin-left:100px; 
}

.smallButtonComment {
 	display: block;
    position: relative;
    float: right;
    width: 80px;
    padding: 0;
    margin: 10px 1px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
   background-color: #42444e;
}
