@charset "UTF-8";
.T{
text-align: center;	
}

.title{
background-color:#A4A4A4;
}
.te{
text-align: center;
}

.page{
margin-top: 30px;
	letter-spacing: 4px;
	text-align: center;
	clear: both;
}

.call{
color:blue;
position:fixed;
padding: 10px;
margin-left:100px; 
}

 .left {
text-align:left;
position:fixed;
padding: 10px;
cursor: pointer;
margin-left:100px; 
}
